#ignore everything
/*

!.gitignore
!README.MD

#File-IO
!/File-IO-Demo
/File-IO-Demo/*
!/File-IO-Demo/src/
/File-IO-Demo/src/*
!/File-IO-Demo/src/packageSimple/
!/File-IO-Demo/src/packageMixed
!/File-IO-Demo/src/packageDemo

#Inheritance
!/Inheritance_Demo
/Inheritance_Demo/*
!/Inheritance_Demo/*.txt
!/Inheritance_Demo/src/
/Inheritance_Demo/src/*
!/Inheritance_Demo/src/abstractFruit_demo/
!/Inheritance_Demo/src/interface_demo
!/Inheritance_Demo/src/bakery
!/Inheritance_Demo/src/bakery2_with_job_joblist_classes
!/Inheritance_Demo/src/bakery3_added_scheduler
!/Inheritance_Demo/src/bakery4_added_ui_pie


!/VehicleRepair-MidTerm
/VehicleRepair-MidTerm/*
!/VehicleRepair-MidTerm/src/
#/VehicleRepair-MidTerm/*
!/VehicleRepair-MidTerm/src/mainpackage/

package-info.java
module-info.java


#JavaFX

!/JavaFXdemo_examples
/JavaFXdemo_examples/*
!/JavaFXdemo_examples/*.txt
!/JavaFXdemo_examples/*.jpg
!/JavaFXdemo_examples/*.MD
!/JavaFXdemo_examples/images
!/JavaFXdemo_examples/src
!/JavaFXdemo_examples/src/*
!/JavaFXdemo_examples/src/**
/JavaFXdemo_examples/src/solutions



!/TextBookCode
/TextBookCode/*
!/TextBookCode/*.txt
!/TextBookCode/*.MD
!/TextBookCode/src
!/TextBookCode/src/*
!/TextBookCode/src/**



# a bash function for doing quick gitHub updates
# cupdate() {  git add . ; git commit -m "quick code update" ; git push origin main ; }

# note to self because I always forget this one when resetting the .gitignore
#  git rm -r --cached . 

#  git ls-files --others --exclude-standard

